<div class="col-md-8 col-sm-offset-2" style="padding: 50px; padding-top: 100px">
  <div class="post-image" style="box-shadow:1px 5px 8px #a88888; padding: 25px; background-color: #fff; opacity: 0.8">
    <h1>Link Stats for <%= @link.slug%></h1>
    <h3>Visits: <%= @link.visit_count %></h3>
  </div>
</div>